
body {
    font-family: 'Mate', serif;
    background-color: rgb(236, 225, 209);
}

p.introduction {
    font-family: 'Unna', serif;
    font-weight: 400;
    font-size: 1.5em
}
p {
    font-family: 'Mate', serif;
    line-height: 1.3em;
}

h1.LargeHead {
    font-family: 'Cinzel Decorative', serif; 
    background-color: rgb(68, 47, 47);
    color: rgb(168, 129, 75); 
}

h1 {
    font-family: 'Unna', serif;
    font-size: 2.75em;
    color: rgb(50, 46, 45);
    background-color: rgb(209, 191, 161);
}


h2 {
    font-family: 'Unna', serif;
    font-size: 1.9em;
    color: rgb(50, 46, 45);
}

h3 {
    font-family: 'Mate SC', serif;
    letter-spacing: .07em;
    text-transform: uppercase;
    font-size: .95em;
}

h4 {
    font-family: 'Unna', serif;
    font-size: 1.15em;
    font-style: italic;
}

nav {
    font-family: 'Mate SC', serif;
    letter-spacing: .05em;
    line-height: 1.2em;
    color: white;
    background-color: rgb(50, 46, 45);
    font-variant-caps: all-small-caps;
}

figcaption {
    font-family: 'Mate SC', serif;
}
main {
    background-color: rgb(251, 243, 225);
}
aside {
    background-color: rgb(227, 213, 180);
}

a.mainNav {
    color: antiquewhite;
    text-decoration: none;
    padding: .5em;
}


