* {
    margin: 0%;
}
body {
    font-family: 'Mate', serif;
    background-color:  rgb(249, 240, 228)
    ;    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf4e8+0,dbcca2+40,b2926e+100&1+0,0.14+100 */
background: linear-gradient(to bottom,  rgba(252,244,232,1) 0%,rgba(219,204,162,0.66) 40%,rgba(178,146,110,0.14) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
/* body styles /////*/


p {
    font-family: 'Mate', serif;
    line-height: 1.3em;
    margin: 0 90px 10px;
    padding: 0 0 0 0;
}
p.introduction {
    font-family: 'Unna', serif;
    font-weight: 400;
    font-size: 22px;
    padding: 30px 0;
}

.Lead-in {
    font-family: 'Mate SC', serif;
}

figcaption {
    font-family: 'Mate SC', serif;
}

aside {
    background-color: rgb(242, 224, 199);
    background: ;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf4e8+0,dbcca2+40,b2926e+100&1+0,0.14+100 */
background: linear-gradient(to right,  rgba(252,244,232,1) 0%,rgba(219,204,162,0.66) 40%,rgba(178,146,110,0.14) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}

a {
    text-decoration: none;

}

/* heading styles /////*/
h1.LargeHead {
    font-family: 'Cinzel Decorative', serif; 
    font-size: 2em;
    background-color: rgba(68, 47, 47, .85);
    color: rgb(255, 246, 234); 
    padding: 40px 90px 5px;
}

h1 {
    font-family: 'Unna', serif;
    font-size: 2.75em;
    color: rgb(50, 46, 45);
    background-color: rgba(209, 191, 161, 0.608);
    padding: 50px 90px 10px
    
}

h2 {
    font-family: 'Unna', serif;
    font-size: 1.9em;
    color: rgb(50, 46, 45);
    padding: 10px 90px 10px
}

h3 {
    font-family: 'Mate SC', serif;
    letter-spacing: .07em;
    text-transform: uppercase;
    font-size: .95em;
    padding: 10px 90px 10px
}

h4 {
    font-family: 'Unna', serif;
    font-size: 1.15em;
    font-style: italic;
}

/* navigation styles/////// */

nav {
   
    background-color: rgb(68, 47, 47);
    font-variant-caps: all-small-caps;
    padding-left: 90px;
    height: 30px;
    border-top: 1px dashed rgb(162, 88, 48);
    border-bottom: 1px dashed rgb(162, 88, 48);

}
td .mainNav {
    font-family: 'Mate SC', serif;
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 1em;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px dashed rgb(162, 88, 48);
}


/* image and background styles/////// */


#homeHeaderImage {
    height: 500px;
    background-image: url(./IMAGES/Destruction_of_Leviathan@0.33x.jpg), url(./IMAGES/Hokusai_Dragon@0.25x.jpg);
    background-repeat: no-repeat;
    background-size: 50%, 63%;
    background-position-y: 5%, 0%;
    background-position-x: right, left;
}

#childHeaderImage_myth {
    height: 350px;
    background-image: url(./IMAGES/spinophorosaurus_BW@0.5x.jpg);
    background-position: center center;


}

/* bullet /////*/

#arrow {
    
    overflow: hidden;
    width: 0;
    height: 0;
    border: solid 20px transparent;
    border-left-color: rgb(123, 13, 13);

}

#funCircle {
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px;
    border-color: black red blue rgb(101, 161, 10);
    border-radius: 20px;
}

#halfCircle {
    overflow: hidden;
    width: 10px;
    height: 0;
    border: solid 5px black;
    border-radius: 10px 10px 0 0;
}



